@import './../../common/styles/vars';
@import './../../common/styles/templates';

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

.containerTodoPage {
  @extend %containerPage;
  border: $borderList;
  width: 50%;
  margin: 20px auto;
  h5 {
    margin: 0;
    position: absolute;
  }
}
.containerHeader {
  align-self: flex-start;
  width: 100%;
  padding: 5px 10px;
  border-bottom: $borderList;
  background: $backgroundItem;
  margin-bottom: 10px;
  h3 {
    margin: 0;
    font-size: 1.5rem;
  }
}
