@import './../../common/styles/vars';
@import './../../common/styles/templates';

.itemsContainer {
  @extend %itemsContainerPage;
  border: $borderList;
  li:nth-child(odd) {
    background: $backgroundItem;
  }
}

.itemContainer {
  @extend %itemContainerPage;
  span {
    margin-right: 50px;
  }
  button {
    margin-left: auto;
  }
}
